

.container1 {
  width: 80%;
  max-width: 700px;
  /*background-color: #fff;*/
  padding: 30;

  border-radius: 8px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

form {
  display: flex;
  flex-direction: row;
  padding: 20;
}

.form-group {
  margin-bottom: 20px;
}

/*label {
  margin-bottom: 8px;
  font-weight: bold;
}*/

.select_dropdown, .input1{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #8f1919;
  border-radius: 4px;
  /*width: 20px;*/
}
.fileinput{
  padding: 10px;
/*width: 200px;*/
/*height: 200px;*/




}
.submit_button {
  background-color: #173759;
  color: #fff;
  cursor: pointer;
}





.custom-button {
  background-color: #4CAF50; /* Green */
  color: white;
  /*padding: 15px 20px;*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /*font-size: 16px;*/
  transition: background-color 0.3s ease;
  height: 40px ;
  width: 60px;
  text-align: center;
}

.custom-button:hover {
  background-color: #45a049; /* Darker green on hover */
}


.file-label {
  display: inline-block;
  padding: 5px 2px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.file-label:hover {
  background-color: #2980b9;
}

.file-icon {
  font-size: 24px;
  margin-right: 10px;
}

.file-text {
  font-size: 16px;
}

/* Hide the file input */
.hidden {
  display: none;
}





@media screen and (max-width: 600px) {
  .container1 {
    width: 90%;
  }
}
