.file-input-container {
    position: relative;
    font-family: 'Arial', sans-serif;
  }
  
  .file-input-label {
    display: inline-block;
    /*padding: 10px;*/
    /*border: 2px solid #3498db;*/
    /*border-radius: 5px;*/
    /*color: #3498db;*/
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /*.file-input-label:hover {
    /*background-color: #3498db;*/
    /*color: white;*/
  /*}*/
  
  /*.upload-icon {
    margin-right: 5px;
  }
  */